{% comment %}
  --- Adding gotham custom to be scope to this custom-main-product only
  --- Adding custom color to be scode to this custom-main-product only
{% endcomment %}

{% style %}
  /* ------- Fonts ------- */
  @font-face {
    font-family: 'Gotham';
    src: url('{{ "gothambold-webfont.woff" | asset_url }}') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gotham';
    src: url('{{ "gothambook-webfont.woff" | asset_url }}') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gotham';
    src: url('{{ "gothammedium-webfont.woff" | asset_url }}') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  /* ------- Font sizes ------- */
  :root {
    --font-family-base: 'Gotham', sans-serif;
    --line-height-heading: 130%;
    --line-height-h4: 115%;
    --line-height-body: 150%;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-family-base);
    font-weight: 900;
    line-height: var(--line-height-heading);
  }
  ,
  h4 {
    line-height: var(--line-height-h4);
  }

  p,
  a,
  span,
  ul,
  li,
  ol,
  button {
    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: var(--line-height-body);
  }
  /* Mobile setup  */
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    body {
      h1 {
        font-size: 48px;
      }
      h2 {
        font-size: 38px;
      }
      h3 {
        font-size: 30px;
      }
      h4 {
        font-size: 20px;
      }
    }
  }
{% endstyle %}

<section class="custom-product">
  <div class="custom-product__container">
    <!-- product images -->
    <div>
      <div>
        {{ 'product-1' | placeholder_svg_tag }}
        <span>Hautement dosé</span>
      </div>
      <div>
        {{ 'product-1' | placeholder_svg_tag }}
      </div>
      <div>
        {{ 'product-1' | placeholder_svg_tag }}
      </div>
      <div>
        {{ 'product-1' | placeholder_svg_tag }}
      </div>
    </div>
    <!-- product details -->
    <div>
      <!-- Trustpilot, Title, description, price block -->
      <div>
        <div>
          <div>
            <!-- Trustpilot -->
            <div>
              <span>Excellent</span>
              <img
                width="221"
                height="50"
                src="{{ "Trustpilot-etoiles.png" | asset_url }}"
                alt="Trustpilot etoiles icon"
              >
              <img width="255" height="48" src="{{ "Trustpilot-logo.png" | asset_url }}" alt="Trustpilot logo icon">
            </div>
            <!-- Text, price -->
            <div>
              <h1>Lorem ipsum</h1>
              <span>35,00$</span>
            </div>
          </div>
          <!-- Description and list -->
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit suscipit nec, mus neque ullamcorper augue nascetur
              eros vel et leo,
            </p>
            <ul>
              <li>
                <img width="20" height="20" src="{{ "Check-icon.png" | asset_url }}" alt="Check icon">
                <span>Lorem ipsum dolor sit amet</span>
              </li>
              <li>
                <img width="20" height="20" src="{{ "Check-icon.png" | asset_url }}" alt="Check icon">
                <span>Lorem ipsum dolor sit amet</span>
              </li>
              <li>
                <img width="20" height="20" src="{{ "Check-icon.png" | asset_url }}" alt="Check icon">
                <span>Lorem ipsum dolor sit amet</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- Price decouverte and meilleure offre -->
        <div>
          <!-- price card -->
          <div>
            <div>
              <h4>1 mois</h4>
              <span> -10%</span>
              <p>Soit 1,16$ / jour</p>
            </div>
            <span>Découverte</span>
          </div>
          <!-- price card -->
          <div>
            <div>
              <h4>1 mois</h4>
              <span> -10%</span>
              <p>Soit 1,16$ / jour</p>
            </div>
            <span>Découverte</span>
          </div>
        </div>
      </div>
      <!-- Add to to cart button block -->
      <div>
        <button>
          <span>Ajouter au panier</span>
          <span> |</span>
          <span>35$</span>
        </button>
        <span> <strong>En stock</strong>, commandez maintenant et soyez <strong>livré le 25 mars"</strong></span>
      </div>
      <!-- Bienfaits block -->
      <div>
        <!-- card -->
        <div>
          <div>
            <span>Bienfaits et Efficacité</span>
            <span>
              <img width="20" height="20" src="{{ 'Dropdown-arrow.png' | asset_url }}">
            </span>
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipiscing elit maecenas nam elementum, integer aliquet vivamus
            himenaeos dui facilisis rutrum magnis vitae quam, tempus varius sodales malesuada semper pretium fermentum
            accumsan tincidunt. Dapibus habitant phasellus venenatis dignissim sed litora nibh ullamcorper, dis duis
            aliquet praesent mi donec vivamus egestas rhoncus, commodo nam nostra integer iaculis vehicula sapien.
            Senectus pharetra cum himenaeo
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom main product",
  "class": "custom_main_product",
  "disabled_on": {
    "groups": ["header", "footer"],
    "templates": ["index", "404", "article", "collection"]
  },
  "limit": 1,
  "blocks": [],
  "settings": [],
  "presets": [
    {
      "name": "Custom main product",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
